@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce {
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: .3s
}

@keyframes bounce {
    0% {
      transform: translateY(0px)
    }
    50% {
      transform: translateY(-40px)
    }
    100% {
      transform: translateY(0px)
    }
  }

::-webkit-scrollbar {
  width: 0%;
}